* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@import "assets/colors";
@import "theme";
@import "main";
@import "assets/buttons";
@import "assets/inputs";